@{

}
<h2>Table Of Contents</h2>
<h3>Getting Started</h3>
<a href="#install" class="link">Installation</a>
<br />
<a href="#hello" class="link">Hello World</a>
<br />
<hr />
<h3>Variables</h3>
<a href="#variables" class="link">Variables</a>
<br />
<hr />
<h3>Types</h3>
<a href="#num" class="link">Numbers</a>
<br />
<a href="#str" class="link">String</a>
<br />
<a href="#bool" class="link">Bool</a>
<br />
<hr />
<h3>Operators</h3>
<a href="#arith" class="link">Arithmetic</a>
<br />
<a href="#comp" class="link">Comparison</a>
<br />
<hr />
<h3>Conditionals</h3>
<a href="#cond" class="link">Conditionals</a>
<br />
<hr />
<h3>Loops</h3>
<a href="#men" class="link">men ... ila loop</a>
<br />
<a href="#madem" class="link">madem loop</a>
<br />
<a href="#dir" class="link">dir ... madem loop</a>
<br />
<hr />
<h3>Loops</h3>
<a href="#call" class="link">Calling functions</a>
<br />
<a href="#built" class="link">Built-in functions</a>
<br />
<a href="#define" class="link">Definig functions</a>
<br />

<h3>Getting Started</h3>
<h4>Installation</h4>
<h4>Hello World</h4>
<p>
    If you want to print something to the console you simply have to call the funciton ekteb("something")
    @* code snippet here *@
</p>
<h3>Variables</h3>
<p>
    We use variables to store data and use it in the program. You can think of variables as containers that have a name and a value.
    @* code snippet here *@
    There is also constant variables which once declared you can't change their value.
    @* code snippet here *@
</p>
<h3>Types</h3>
<p>
    In Ncodi we have severale data types.
    <h4>Ar9am</h4>
    They are numeric values that can only contain digits from [0,1,2,3,4,5,6,7,8,9].
    @* code snippet here *@
    <h4>Decimal</h4>
    Decimals are 
    <h4>Bool</h4>
    Boolen values can be either true/ s7i7 or false/ ghalet.
    @* code snippet here *@
</p>