@{

}
<link href="~/css/docs.css" rel="stylesheet" />
<link href="~/css/prism.css" rel="stylesheet" />
<section class="docs">
    <h2>Table Of Contents</h2>
    <h3>Getting Started</h3>
    <a href="#install" class="link">Installation</a>
    <br />
    <a href="#hello" class="link">Hello World</a>
    <br />
    <h3>Variables</h3>
    <a href="#variables" class="link">Variables</a>
    <br />
    <h3>Types</h3>
    <a href="#int" class="link">Int</a>
    <br />
    <a href="#dec" class="link">Decimal</a>
    <br />
    <a href="#str" class="link">String</a>
    <br />
    <a href="#bool" class="link">Bool</a>
    <br />
    <h3>Operators</h3>
    <a href="#arith" class="link">Arithmetic</a>
    <br />
    <a href="#comp" class="link">Comparison</a>
    <br />
    <a href="#logic" class="link">Logical</a>
    <br />
    <h3>Conditionals</h3>
    <a href="#cond" class="link">Conditionals</a>
    <br />
    <h3>Loops</h3>
    <a href="#men" class="link">men ... ila loop</a>
    <br />
    <a href="#madem" class="link">madem loop</a>
    <br />
    <a href="#dir" class="link">dir ... madem loop</a>
    <br />
    <h3>Functions</h3>
    <a href="#call" class="link">Calling functions</a>
    <br />
    <a href="#built" class="link">Built-in functions</a>
    <br />
    <a href="#define" class="link">Definig functions</a>
    <br />
    <h2>Documentation</h2>
    <h3>Getting Started</h3>
    <h4>Installation</h4>
    <h4 id="hello">Hello World</h4>
    <p>
        If you want to print something to the console you simply have to call the funciton ekteb("something")
        @* code snippet here *@
        <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
            <input hidden type="text" name="code" value="ekteb(&quot;Hello, Tunisia!&quot;)" />
            <input class="tryIt" type="submit" value="Try It" />
        </form>
    <p class="code">
        ekteb(<span class="token string">"Hello, Tunisia!"</span>)
    </p>
    </p>
    <h3 id="variables">Variables</h3>
    <p>
        We use variables to store data and use it later on. You can think of variables as containers that have a name and a value.
        @* code snippet here *@
        <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
            <textarea hidden name="code">var x = "Hello again"
ekteb(x)</textarea>
            <input class="tryIt" type="submit" value="Try It" />
        </form>
    <p class="code">
        <span class="token keyword">var</span> x = <span class="token string">"Hello again"</span><br />
        ekteb(x)
    </p>
    There is also constant "const" variables which once declared you can't change their value.
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">const x= "No Name"
x="Ncodi"
"That will result in an error"
"Meanwhile this is fine"
var y="45"
y="60"</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token keyword">const</span> x= <span class="token string">"No Name"</span><br />
        x=<span class="token string">"Ncodi"</span><br />
        <span class="token string">"That will result in an error"</span><br />
        <span class="token string">"Meanwhile this is fine"</span><br />
        <span class="token keyword">var</span> y=<span class="token string">"45"</span><br />
        y=<span class="token string">"60"</span>
    </p>
    </p>
    <h3>Types</h3>
    <p>
        In Ncodi we have several data types.
        <h4>Int</h4>
        They are numeric values that can only contain digits from [0,1,2,3,4,5,6,7,8,9]. This can also be negative like -15.
        @* code snippet here *@
        <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
            <textarea hidden name="code">var num1 = 458
var num2 = 15
ekteb(num1+num2)</textarea>
            <input class="tryIt" type="submit" value="Try It" />
        </form>
    <p class="code">
        <span class="token keyword">var</span> num1 = 458<br />
        <span class="token keyword">var</span> num2 = 15<br />
        ekteb(num1+num2)
    </p>
    <h4>Decimal</h4>
    Decimals are numbers that have a floating point like 2.56 or 1.0
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">var dec = 4.25
ekteb(dec)</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token keyword">var</span> dec = 4.25<br />
        ekteb(dec)
    </p>


    <h4>String</h4>
    Strings are basically textual data. You must use quoatation marks "" to indicate that it's a string.
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">var s="Code in your own words"
var x="51"
"x is not an Int it's a string"
ekteb(s)</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token keyword">var</span> s=<span class="token string">"Code in your own words"</span><br />
        <span class="token keyword">var</span> x=<span class="token string">"51"</span><br />
        <span class="token string">"x is not an Int it's a string"</span><br />
        ekteb(s)
    </p>

    <h4>Bool</h4>
    Boolean values can be either true/ s7i7 or false/ ghalet.
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">var res=s7i7
var nope=ghalet
ekteb(res)</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token keyword">var</span> res=<span class="token keyword">s7i7</span><br />
        <span class="token keyword">var</span> nope=<span class="token keyword">ghalet</span><br />
        ekteb(res)
    </p>

    <h4>Optional Type Declaration</h4>
    You also can specifiy the type of a variable when declaring it. This is mainly to make your code more clear since Ncodi can dynamically detect variable types. If you declare a variable as int and then assign to it a bool value you will get an error.
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">var num:int=1564
var dec:decimal=1.5
var really:bool=ghalet
var esmi:string="Aziz Amari"
"This will cause an error because 16.5 isn't an int"
var age:int=16.5</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token keyword">var</span> num:int=1564<br />
        <span class="token keyword">var</span> dec:decimal=1.5<br />
        <span class="token keyword">var</span> really:bool=<span class="token keyword">ghalet</span><br />
        <span class="token keyword">var</span> esmi:string=<span class="token string">"Aziz Amari"</span><br />
        <span class="token string">"This will cause an error because 16.5 isn't an int"</span><br />
        <span class="token keyword">var</span> age:int=16.5
    </p>
    <h3>Operators</h3>
    <h4>Arithmetic</h4>
    -Plus operator '+'<br />
    -Minus operator '-'<br />
    -Multiply operator '*'<br />
    -Division operator '/'<br />
    -Euclidian Division operator '//'<br />
    -Modulo operator '%'<br />
    -Power operator '**'<br />
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">"Plus operator '+'"
"With strings: concatinates them"
ekteb("Ncodi" + " "+ "Beta Version")
"With numbers"
ekteb(598+18)
ekteb(15.5+0.5)
ekteb(0.5+1)

"Minus operator '-'"
ekteb(546-56)
ekteb(12.5-0.5-2)

"Multiply operator '*'"
ekteb(2*0.5*5)
"Power operator '**'"
ekteb(2**8)

"Division operator '/'"
ekteb(5/2)
"Euclidian division '//' ignores the rest"
ekteb(5/2)
"Modulo operator '%' returns the rest"
ekteb(5%2)</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token string">"Plus operator '+'"</span><br />
        <span class="token string">"With strings: concatinates them"</span><br />
        ekteb(<span class="token string">"Ncodi"</span> + <span class="token string">" "</span>+ <span class="token string">"Beta Version"</span>)<br /><span class="token string">"With numbers"</span><br />
        ekteb(598+18)<br />
        ekteb(15.5+0.5)<br />
        ekteb(0.5+1)<br /><br /><span class="token string">"Minus operator '-'"</span><br />
        ekteb(546-56)<br />
        ekteb(12.5-0.5-2)<br /><br />
        <span class="token string">"Multiply operator '*'"</span><br />
        ekteb(2*0.5*5)<br />
        <span class="token string">"Power operator '**'"</span><br />
        ekteb(2**8)<br /><br />
        <span class="token string">"Division operator '/'"</span><br />
        ekteb(5/2)<br />
        <span class="token string">"Euclidian division '//' ignores the rest"</span><br />
        ekteb(5/2)<br />
        <span class="token string">"Modulo operator '%' returns the rest"</span><br />
        ekteb(5%2)
    </p>
    <h4>Comparison</h4>
    -Greater operator '>'<br />
    -Greater or Equal operator >=<br />
    -Less or Equal operator <=<br />
    -Is Equal operator '=='<br />
    -Is Diffirent operator '!='<br />
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">"This returns either s7i7 or ghalet"
"Numbers"
ekteb(12.6<10) ekteb(12.6>10)

ekteb(9 > 9)
ekteb(9 >= 9)
ekteb(12 <= 50)

"Equality and difference"
ekteb(9==4)
ekteb(4==4)
ekteb(9!=4)

"String: uses Ascii/ alphabet order to compare"
ekteb("a" < "b")
ekteb("Ncodi" > "Python")
ekteb("aziz" != "AZIZ")

"Bools only != and =="
ekteb(false==false)
ekteb(true!=false)</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token string">"This returns either <span class="token keyword">s7i7</span> or <span class="token keyword">ghalet</span>"</span><br />
        <span class="token string">"Numbers"</span><br />
        ekteb(12.6&lt;10) ekteb(12.6&gt;10)<br /><br />
        ekteb(9 &gt; 9)<br />
        ekteb(9 &gt;= 9)<br />
        ekteb(12 &lt;= 50)<br /><br />
        <span class="token string">"Equality and Difference"</span><br />
        ekteb(9==4)<br />
        ekteb(4==4)<br />
        ekteb(9!=4)<br /><br />
        <span class="token string">"String: uses Ascii/ alphabet order <span class="token keyword">to</span> compare"</span><br />
        ekteb(<span class="token string">"a"</span> &lt; <span class="token string">"b"</span>)<br />
        ekteb(<span class="token string">"Ncodi"</span> &gt; <span class="token string">"Python"</span>)<br />
        ekteb(<span class="token string">"aziz"</span> != <span class="token string">"AZIZ"</span>)<br /><br />
        <span class="token string">"Bools only != and =="</span><br />
        ekteb(<span class="token keyword">false</span>==<span class="token keyword">false</span>)<br />
        ekteb(<span class="token keyword">true</span>!=<span class="token keyword">false</span>)
    </p>
    @* code snippet here *@
    <h4>Logical</h4>
    -And operator '&&'<br />
    -Or operator '||'<br />
    -Inverse operator '!'
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">"AND operator && only returns s7i7 when both conditions are s7i7"
ekteb(5>2&&10!=15)
ekteb(5>2&&10==15)
ekteb(s7i7 || ghalet)

"OR operator || only returns s7i7 when atleast one of the conditions is s7i7"
ekteb(5%2==1 || ghalet)
ekteb(s7i7 || s7i7)
ekteb(ghalet || ghalet)

"NO operator ! inverses the condition s7i7 becomes ghalet and vice versa"
ekteb(!ghalet)
ekteb(!(5==2))</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token string">"AND operator &amp;&amp; only returns <span class="token keyword">s7i7</span> when both conditions are <span class="token keyword">s7i7</span>"</span><br />
        ekteb(5&gt;2&amp;&amp;10!=15)<br />
        ekteb(5&gt;2&amp;&amp;10==15)<br />
        ekteb(<span class="token keyword">s7i7</span> || <span class="token keyword">ghalet</span>)<br /><br />
        <span class="token string">"OR operator || only returns <span class="token keyword">s7i7</span> when atleast one of the conditions is <span class="token keyword">s7i7</span>"</span><br />
        ekteb(5%2==1 || <span class="token keyword">ghalet</span>)<br />
        ekteb(<span class="token keyword">s7i7</span> || <span class="token keyword">s7i7</span>)<br />
        ekteb(<span class="token keyword">ghalet</span> || <span class="token keyword">ghalet</span>)<br /><br />
        <span class="token string">"NO operator ! inverses the condition <span class="token keyword">s7i7</span> becomes <span class="token keyword">ghalet</span> and vice versa"</span><br />
        ekteb(!<span class="token keyword">ghalet</span>)<br />
        ekteb(!(5==2))
    </p>
</section>