@{ 
    
}
<h3>Getting Started</h3>
<a href="#install" class="link">Installation</a><br />
<a href="#hello" class="link">Hello World</a><br />
<hr />
<h3>Variables</h3>
<a href="#variables" class="link">Variables</a><br />
<hr />
<h3>Types</h3>
<a href="#num" class="link">Numbers</a><br />
<a href="#str" class="link">String</a><br />
<a href="#bool" class="link">Bool</a><br />
<hr />
<h3>Operators</h3>
<a href="#arith" class="link">Arithmetic</a><br />
<a href="#comp" class="link">Comparison</a><br />
<hr />
<h3>Conditionals</h3>
<a href="#cond" class="link">Conditionals</a><br />
<hr />
<h3>Loops</h3>
<a href="#men" class="link">men ... ila loop</a><br />
<a href="#madem" class="link">madem loop</a><br />
<a href="#dir" class="link">dir ... madem loop</a><br />
<hr />
<h3>Loops</h3>
<a href="#call" class="link">Calling functions</a><br />
<a href="#built" class="link">Built-in functions</a><br />
<a href="#define" class="link">Definig functions</a><br />