@{

}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/home.css">
<main>
    <section class="hero">
        <div class="hero__text">
            <h2 class="big-text">Code in your own words</h2>
            <button onclick="location.href = '/playground'" type="button" class="btn">Start Coding</button>
            <a href="#about"><i class="fas fa-chevron-down fa-lg" style="color:white;"></i></a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="main_about">
            <img src="~/images/picture.jpg" alt="Aziz Amari Picture" class="about_image">
            <div class="about_text">
                <h1>About Us</h1>
                <h5>Aziz Amari - Ncodi Creator</h5>
                <p>
                    He is a self taught software developer from Tunisia, creator and developer of Ncodi Language. He is Passionate about Technology and always looking for new challenges.
                </p>
                <div class="about_contact">
                    <a href="https://www.linkedin.com/in/azizamari/" target="_blank">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                    <a href="https://github.com/azizamari" target="_blank">
                        <i class='bx bxl-github'></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="stats">
        <div class="articles">
            <i class='bx bx-clipboard'></i><br>
            6 Articles
        </div>
        <div class="reach">
            <i class='bx bxs-bar-chart-alt-2'></i><br />
            1.2M Reached People
        </div>
        <div class="shares">
            <i class='bx bxs-share'></i><br>
            8.2K Shares
        </div>
        <div class="likes">
            <i class='bx bxs-like'></i><br>
            71.7K Likes
        </div>
    </section>
    <section class="reviews_section">
        <h1>Testimonials</h1>


        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="quotes">
                        <div class="quotes-slide">
                            <blockquote>
                                <img src="~/images/tpl.png" alt="Tunisian Programming Lovers Logo" class="quote_picture">
                                <div class="quote-icon text-left">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="content text-center">
                                    <div>
                                        Ncodi is a great project meant to help younger people get involved with programming in a young age with easy to understand syntax (Tunisian dialect) so that they can absorb the core  concepts of programming languages & algorithms and after that moving to big tier languages won't be that hard.
                                    </div>
                                </div>
                                <div class="quote-icon text-right">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-end icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="about_contact">
                                    <a href="https://www.linkedin.com/in/elfalehdev" target="_blank">
                                        <i class='bx bxl-linkedin-square'></i>
                                    </a>
                                </div>
                                <h5 class="quote_author">Mohamed Elfaleh</h5>
                                <h5 class="quote_author-title">Founder of التوانسة الي يحبوا البرمجة<br />Full Stack Javascript Developer</h5>
                            </blockquote>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="quotes">
                        <div class="quotes-slide">
                            <blockquote>
                                <img src="~/images/codingbetounsi.jpg" alt="Coding BeTounsi picture" class="quote_picture">
                                <div class="quote-icon text-left">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="content text-center">
                                    <div>
                                        English is an obstacle for many Tunisians who want to learn programming.<br>As coding BeTounsi, YouTube channel in Tunisian dialect, I really enjoyed the experience and I think it will encourage persons to start especially kids.
                                    </div>
                                </div>
                                <div class="quote-icon text-right">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-end icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="about_contact">
                                    <a href="https://www.linkedin.com/in/abderraouf-ghrissi-671a35163/" target="_blank">
                                        <i class='bx bxl-linkedin-square'></i>
                                    </a>
                                </div>
                                <h5 class="quote_author">Abderraouf Ghrissi</h5>
                                <h5 class="quote_author-title">Founder of Coding BeTounsi<br />Software Engineer</h5>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="quotes">
                        <div class="quotes-slide" style=" line-height: 1.6;">
                            <blockquote>
                                <img src="~/images/dhia.jpg" alt="Dhia Snoussi picture" class="quote_picture">
                                <div class="quote-icon text-left">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="content text-center">
                                    <div>
                                        As a first step, This is a great work and I believe you have the potential to take this project to the next level.<br />Best of luck.
                                    </div>
                                </div>
                                <div class="quote-icon text-right">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-end icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="about_contact">
                                    <a href="https://www.linkedin.com/in/dhia-snoussi/" target="_blank">
                                        <i class='bx bxl-linkedin-square'></i>
                                    </a>
                                </div>
                                <h5 class="quote_author">Dhia Snoussi</h5>
                                <h5 class="quote_author-title">CTO of Ijeni <br />Golden Microsoft Student Ambassador</h5>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>


    </section>
    <section class="faq_section" id="faq">
        <div class="faq">
            <h1>Frequently Asked Questions (FAQ)</h1>
            <div class="accordion_container">

                <div class="accordion">
                    <div class="accordion_item" id="question1">
                        <a class="accordion_link">
                            What did you learn from this project?
                            <i class='bx bx-plus'></i>
                            <i class='bx bx-minus'></i>
                        </a>
                        <div class="answer">
                            <p>
                                This is a really interesting question. I obviously learned a lot about how computer languages work and how they are designed internally. I also picked up some skills through this project: I can now use the debugger more comfortably, Unit Testing (using XUnit), RegEx, WebSockets, Docker and more...
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion_item" id="question2">
                        <a class="accordion_link">
                            Why did you create this Ncodi ?
                            <i class='bx bx-plus'></i>
                            <i class='bx bx-minus'></i>
                        </a>
                        <div class="answer">
                            <p>
                                It is simply for the thrill of learning about compilers and language design. I also added the Tunisian syntax to give a purpose and something unique to my language.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion_item" id="question3">
                        <a class="accordion_link">
                            Why is Ncodi still in beta phase ?
                            <i class='bx bx-plus'></i>
                            <i class='bx bx-minus'></i>
                        </a>
                        <div class="answer">
                            <p>
                                I decided to launch Ncodi as beta version because it's still too immature to achieve my vision "Give Tunisian who don't understand english a chance to discover programming" and for that reason I'm also making the website/ documentation in English since it's not ready to be used by the main audience.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>
<footer class="footer" id="contact">
    <div class="container bg-red">
        <div class="logo_footer">
            <a href="/#"><img src="~/images/logow.png" alt="Ncodi logo" /></a>
</div>
        <div class="contact">
            <ul class="list">
                <li class="list-item"><a>ncodilanguage@gmail.com</a></li>
                <li class="list-item"><a>azizamari@gmail.com</a></li>
                <li class="about_contact">
                    <a href="https://www.linkedin.com/in/azizamari/" target="_blank" style="color:white;">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                    <a href="https://github.com/azizamari" target="_blank" style="color:white;">
                        <i class='bx bxl-github'></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="list">
                <li><a style="text-decoration: none; color:white;" class="list-item" href="/#about">About</a></li>
                <li><a style="text-decoration: none; color:white;" class="list-item" href="/playground">Playground</a></li>
                <li><a style="text-decoration: none; color:white;" class="list-item" href="/docs">Docs</a></li>
                <li><a style="text-decoration: none; color:white;" class="list-item" href="/samples">samples</a></li>
                <li><a style="text-decoration: none; color:white;" class="list-item" href="/#faq">FAQ</a></li>
            </ul>
        </div>


    </div>
    <div class="foot bg-dark">
        <h3> Ncodi - code in your own words </h3>
    </div>

</footer>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/animation.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
            640: {
                slidesPerView: 1,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 40,
            },
            1200: {
                slidesPerView: 3,
                spaceBetween: 50,
            },
        },
    });
</script>