@{

}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/home.css">
<main>
    <section class="hero">
        <div class="hero__text">
            <h2 class="big-text">Code in your own words</h2>
            <button onclick="location.href = '/playground'" type="button" class="btn">Get Started</button>
            <a href="#about"><i class="fas fa-chevron-down fa-lg" style="color:white;"></i></a>
        </div>
    </section>
    <section class="reviews_section" id="about">
        <h1>User Reviews</h1>


        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="quotes">
                        <div class="quotes-slide">
                            <blockquote>
                                <img src="~/images/picture.jpg" alt="Aziz Amari picture" class="quote_picture">
                                <div class="quote-icon text-left">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="content text-center">
                                    <div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                                <div class="quote-icon text-right">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-end icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <h5 class="quote_author">Aziz Amari</h5>
                                <h5 class="quote_author-title">Software Engineer At Google</h5>
                            </blockquote>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="quotes">
                        <div class="quotes-slide">
                            <blockquote>
                                <img src="~/images/picture.jpg" alt="Aziz Amari picture" class="quote_picture">
                                <div class="quote-icon text-left">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="content text-center">
                                    <div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                                <div class="quote-icon text-right">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-end icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <h5 class="quote_author">Aziz Amari</h5>
                                <h5 class="quote_author-title">Software Engineer At Google</h5>
                            </blockquote>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="quotes">
                        <div class="quotes-slide">
                            <blockquote>
                                <img src="~/images/picture.jpg" alt="Aziz Amari picture" class="quote_picture">
                                <div class="quote-icon text-left">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="content text-center">
                                    <div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                                <div class="quote-icon text-right">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-end icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <h5 class="quote_author">Aziz Amari</h5>
                                <h5 class="quote_author-title">Software Engineer At Google</h5>
                            </blockquote>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="quotes">
                        <div class="quotes-slide">
                            <blockquote>
                                <img src="~/images/picture.jpg" alt="Aziz Amari picture" class="quote_picture">
                                <div class="quote-icon text-left">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="content text-center">
                                    <div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                                <div class="quote-icon text-right">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-end icon-quote" viewBox="0 0 41 35">
                                        <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                                        </path>
                                    </svg>
                                </div>
                                <h5 class="quote_author">Aziz Amari</h5>
                                <h5 class="quote_author-title">Software Engineer At Google</h5>
                            </blockquote>
                        </div>
                    </div>
                </div>


            </div>
            <div class="swiper-pagination"></div>
        </div>


    </section>
    <section class="faq_section" id="faq">
        <div class="faq">
            <h1>Frequently Asked Questions (FAQ)</h1>
            <div class="accordion_container">

                <div class="accordion">
                    <div class="accordion_item" id="question1">
                        <a class="accordion_link">
                            What did you learn from this project?
                            <i class='bx bx-plus'></i>
                            <i class='bx bx-minus'></i>
                        </a>
                        <div class="answer">
                            <p>
                                This is a really interesting question. I obviously learned a lot about how computer languages work and how they are designed internally. I also picked up some skills through this project: I can now use the debugger comfortably (I used to debug manually or by calling print method everywhere), Unit Testing, RegEx, WebSockets, Docker and more...
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion_item" id="question2">
                        <a class="accordion_link">
                            Why did you create this Ncodi ?
                            <i class='bx bx-plus'></i>
                            <i class='bx bx-minus'></i>
                        </a>
                        <div class="answer">
                            <p>
                                It is simply for the thrill of learning about compilers and language design. I also added the Tunisian syntax to give a purpose and something unique to my language.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion_item" id="question3">
                        <a class="accordion_link">
                            Why is Ncodi still in beta phase ?
                            <i class='bx bx-plus'></i>
                            <i class='bx bx-minus'></i>
                        </a>
                        <div class="answer">
                            <p>
                                I decided to launch Ncodi as beta version because it's still too immature to achieve my vision "Give Tunisian who don't understand english a chance to discover programming" and for that reason I'm also making the website/ documentation in English since it's not ready to be used by the main audience.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>
<footer class="footer">
    <div class="container bg-red">
        <div class="logo">
            <img src="~/images/logow.png" alt="Ncodi logo"/>
        </div>
        <div class="contact">
            <ul class="list">
                <li class="list-item"><a>ncodilanguage@gmail.com</a></li>
                <li class="list-item"><a>azizamari@gmail.com</a></li>
            </ul>
        </div>
        <div>
            <ul class="list">
                <li class="list-item"><a>About</a></li>
                <li class="list-item"><a>FAQ</a></li>
                <li class="list-item"><a>DOCS</a></li>
                <li class="list-item"><a>Playground</a></li>
            </ul>
        </div>


    </div>
    <div class="foot bg-dark">
        <h3> Ncodi - code in your own words </h3>
    </div>

</footer>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/animation.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
            640: {
                slidesPerView: 1,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 40,
            },
            1200: {
                slidesPerView: 3,
                spaceBetween: 50,
            },
        },
    });
</script>