@{

}

<link href="~/css/docs.css" rel="stylesheet" />
<link href="~/css/prism.css" rel="stylesheet" />
<section class="docs">

    <h3>Variables</h3>
    <p>
        We use variables to store data and use it later on. You can think of variables as containers that have a name and a value.
        @* code snippet here *@
        <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
            <textarea hidden name="code">var x = "Hello again"
ekteb(x)</textarea>
            <input class="tryIt" type="submit" value="Try It" />
        </form>
    <p class="code">
        <span class="token keyword">var</span> x = <span class="token string">"Hello again"</span><br />
        ekteb(x)
    </p>
    There is also constant "const" variables which once declared you can't change their value.
    @* code snippet here *@
    <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
        <textarea hidden name="code">const x= "No Name"
x="Ncodi"
"That will result in an error"
"Meanwhile this is fine"
var y="45"
y="60"</textarea>
        <input class="tryIt" type="submit" value="Try It" />
    </form>
    <p class="code">
        <span class="token keyword">const</span> x= <span class="token string">"No Name"</span><br />
        x=<span class="token string">"Ncodi"</span><br />
        <span class="token string">"That will result in an error"</span><br />
        <span class="token string">"Meanwhile this is fine"</span><br />
        <span class="token keyword">var</span> y=<span class="token string">"45"</span><br />
        y=<span class="token string">"60"</span>
    </p>
</section>