@{

}

<link href="~/css/docs.css" rel="stylesheet" />
<link href="~/css/prism.css" rel="stylesheet" />
<section class="docs">

    <h3>Code Samples</h3>
    <h4>Fizz Buzz</h4>
    <p>
        Fizz Buzz is a famous programming question where you have to write a program that prints numbers from 1 to 100. But for multiples of 3 print "Fizz" instead and fro multiples of 5 print "Buzz". For numbers which are multiples of both 3 and 5 print "FizzBuzz".
        @* code snippet here *@
        <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
            <textarea hidden name="code">men i = 1 ila 100{
  var res=""
  kan i%3==0{
    res=res+"Fizz"
  }
  kan i%5==0{
    res=res+"Buzz"
  }
  kan len(res)==0{
    res=string(i)
  }
  ekteb(res)
}</textarea>
            <input class="tryIt" type="submit" value="Try It" />
        </form>
    <p class="code">
        <span class="token keyword">men</span> i = 1 <span class="token keyword">ila</span> 100{<br />
        &nbsp;&nbsp;<span class="token keyword">var</span> res=<span class="token string">""</span><br />
        &nbsp;&nbsp;<span class="token keyword">kan</span> i%3==0{<br />
        &nbsp;&nbsp;&nbsp;&nbsp;res=res+<span class="token string">"Fizz"</span><br />
        &nbsp;&nbsp;}<br />
        &nbsp;&nbsp;<span class="token keyword">kan</span> i%5==0{<br />
        &nbsp;&nbsp;&nbsp;&nbsp;res=res+<span class="token string">"Buzz"</span><br />
        &nbsp;&nbsp;}<br />
        &nbsp;&nbsp;<span class="token keyword">kan</span> len(res)==0{<br />
        &nbsp;&nbsp;&nbsp;&nbsp;res=string(i)<br />
        &nbsp;&nbsp;}<br />
        &nbsp;&nbsp;ekteb(res)<br />
        }
    </p>

    <h4>Star Trigangle</h4>
    <p>
        Drawing a triangle using "*".
        @* code snippet here *@
        <form method="post" asp-controller="playground" asp-action="TryCodeBtn">
            <textarea hidden name="code">
var rows = 6
men i=0 ila rows-1{
  var res=""
  men j=0 ila i{
    res=res+"* "
  }
  ekteb(res)
}
ekteb("")
</textarea>
            <input class="tryIt" type="submit" value="Try It" />
        </form>
    <p class="code">
        <span class="token keyword">var</span> rows = 6<br />
        <span class="token keyword">men</span> i=0 <span class="token keyword">ila</span> rows-1{<br />
        &nbsp;&nbsp;<span class="token keyword">var</span> res=<span class="token string">""</span><br />
        &nbsp;&nbsp;<span class="token keyword">men</span> j=0 <span class="token keyword">ila</span> i{<br />
        &nbsp;&nbsp;&nbsp;&nbsp;res=res+<span class="token string">"* "</span><br />
        }<br />
        &nbsp;&nbsp;ekteb(res)<br />
        }<br />
        ekteb(<span class="token string">""</span>)
    </p>
</section>