@{

}
<link href="~/css/playground.css" rel="stylesheet" />
<div id="code-editor">

</div>
<script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>

<script>
    const flask = new CodeFlask('#code-editor', { language: 'js', defaultTheme: false, lineNumbers: true });
</script>
<link href="~/css/prism.css" rel="stylesheet" />