@{

}
<link href="~/css/playground.css" rel="stylesheet" />
<style>
    .codeflask {
        width: 49.5% !important;
    }
    .output {
        position: absolute !important;
        left: 50.5% !important;
        height: 100%;
        width: 49.5%;
        background: #272822 !important;
        font-size: 1rem !important;
        line-height: 1.5 !important;
        color: #f8f8f2 !important;
    }
    .playground_header {
        display: flex;
        justify-content: space-between;
        background-color: #1c1d19;
        color: white;
        font-size: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .runBtn {
        background-color: lightgreen;
        color: white;
        width:4rem;
        font-size: 0.8rem;
        border:none;
        cursor:pointer;
    }
</style>
<h4 class="playground_header"><span>Code Editor</span><span> Console <input type="button" class="runBtn" value="Run" /></span></h4>
<div id="code-editor">

</div>
<script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>

<script>
    const flask = new CodeFlask('#code-editor', {defaultTheme: false, lineNumbers: true });
</script>
<link href="~/css/prism.css" rel="stylesheet" />

<pre class="output"></pre>
<script>
    const output = document.querySelector(".output");
    const codeField = document.querySelector(".codeflask__code");
    const strReg = /"(.*?)"/g
    const keywordReg = /\b(true|false|const|var|if|else|while|for|to|do|def|break|continue|return|madem|kan|wela|dir|yezzi|kamel|s7i7|ghalet|men|ila|raje3)(?=[^\w])/g
    flask.onUpdate((code) => {
        let htmlCode = code + " ";
        htmlCode = htmlCode.replace(strReg, '<span class="token string">"$1"</span>')
        htmlCode = htmlCode.replace(keywordReg, '<span class="token keyword">$1</span>')
        codeField.innerHTML = htmlCode;
    });


    var btnStart = document.querySelector(".runBtn");
    btnStart.addEventListener("click", function (e) {
        e.preventDefault();
        output.innerHTML = '';

        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
            console.log("socket opened", e);
            socket.send(flask.getCode().split(/\n/));
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            if (e.data === "send data")
                socket.send(prompt());
            else {
                console.log(e);
                output.innerHTML += e.data+'<br>';
            }
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };
    });

</script>