@model Ncodi.Web.Models.TryCode
@{

}
<link href="~/css/playground.css" rel="stylesheet" />
<h4 class="playground_header"><span class="playground_item">Code Editor</span><span> <span class="playground_item">Console</span> <input type="button" class="runBtn" value="Run" /></span></h4>
<div id="code-editor"></div>

<script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>

<script>
    const flask = new CodeFlask('#code-editor', { defaultTheme: false, lineNumbers: true, language: 'js' });
</script>
<link href="~/css/prism.css" rel="stylesheet" />

<pre class="output">
@*<input type="text" style="width:80%;"/><button style="width:20%;">Enter</button>*@
</pre>
@if (Model != null)
{
    <div class="copied" style="display:none">@Model.code</div>
}
<script type="text/javascript">
</script>
<script type="text/javascript">
    const output = document.querySelector(".output");
    const codeField = document.querySelector(".codeflask__code");
    const strReg = /"(.*?)"/g
    const keywordReg = /\b(true|false|const|var|if|else|for|to|def|asne3|break|continue|return|kan|wela|yezzi|kamel|s7i7|ghalet|men|ila|raje3)(?=[^\w])/g
    const easterReg = /\b(ncodi|jihed|aziz|amari|Ncodi)(?=[^\w])/g
    let copied = document.querySelector('.copied');

    if (copied != undefined) {
        document.querySelector('.codeflask__textarea').value = copied.innerHTML;
        console.log(copied.innerHTML);
        flask.updateCode(copied.innerText);
    }

    flask.onUpdate((code) => {
        let htmlCode = code + " ";
        htmlCode = htmlCode.replace(strReg, '<span class="token string">"$1"</span>')
        htmlCode = htmlCode.replace(keywordReg, '<span class="token keyword">$1</span>')
        htmlCode = htmlCode.replace(easterReg, '<span class="token easter">$1</span>')
        codeField.innerHTML = htmlCode;
    });

    var btnStart = document.querySelector(".runBtn");
    btnStart.addEventListener("click", function (e) {
        e.preventDefault();
        console.log("clicked")
        btnStart.disabled = true; 
        setTimeout(()=>{
            btnStart.disabled=false;
        }, 500);

        output.innerHTML = '';
        let lastMessage = "";
        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
            console.log("socket opened", e);
            socket.send(flask.getCode());
            //socket.send(flask.getCode().split(/\n/));
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            if (e.data === "send data") {
                output.innerHTML += `<span id="arr">> </span><input type="text" id="textField" placeholder="Type and press on the button" style="width:80%;"/><button id="send" style="width:15%;">Enter</button>`;
                const sendBtn = document.querySelector('#send');
                const textField = document.querySelector('#textField');
                console.log(sendBtn)
                sendBtn.addEventListener('click', () => {
                    document.querySelector('#arr').remove();
                    sendBtn.remove();
                    textField.remove();
                    output.innerHTML += '> ' + textField.value + '<br>'
                    socket.send(textField.value);

                });
                textField.addEventListener("keyup", function (event) {
                    // Number 13 is the "Enter" key on the keyboard
                    if (event.keyCode === 13) {
                        // Cancel the default action, if needed
                        event.preventDefault();
                        // Trigger the button element with a click
                        sendBtn.click();
                    }
                });
            }
            else {
                console.log(e);
                output.innerHTML += e.data + '<br>';
                lastMessage = e.data;
            }
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };
    });

</script>