
h2 {
    font-size: 2rem;
    color: #2a364e;
    text-align:center;
    margin-top:0.6rem;
}
h3 {
    font-size: 1.5rem;
    color: #F7443D;
}
h4 {
    font-size: 1.2rem;
    color: #2a364e;
}
a {
    font-size: 1rem;
    color: #2a364e;
}
.docs{
    margin:0 2.5rem;
}
.code {
    background: #272822;
    font-size: 1rem;
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    overflow-x: auto;
    white-space: nowrap;
}
.tryIt {
    font-size: 1rem;
    background: #F7443D;
    width:4rem;
    height:2rem;
    margin:1rem 0;
    border:none;
    color:white;
    cursor:pointer;
}

.anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}
.download {
    font-size: 1.2rem;
    margin: 1rem 0;
    border: none;
    color: #F7443D;
    cursor: pointer;
    text-decoration: none;
}