* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.codeflask__lines {
    padding: 1rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #f8f8f2 !important;
}

.codeflask.codeflask--has-line-numbers:before {
    background: #272822 !important;
}