<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta property="og:url" content="https://ncodi.heroku.app/">*@
    <meta property="og:title" content="Ncodi | Code in your own words">
    <meta property="og:description" content="Ncodi is a programming language that uses the Tunisian Dialect.">
    @*<meta property="og:image" content="img/page1.png">*@
    <meta name="twitter:card" content="summary_large_image">
    <link href="~/css/layout.css" rel="stylesheet" />
    <title>Ncodi | Code in your own words</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="~/images/logow.png" width="70" />
        </div>
        <ul>
            <li><a href="/#">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/playground">Playground</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/#faq">FAQ</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
        <div class="menu-bars">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <ul>

    </ul>
        @RenderBody()
    <script>
        const menuToggle= document.querySelector(".menu-bars");
        const nav = document.querySelector("nav ul");


        menuToggle.addEventListener("click", () => {
          nav.classList.toggle("slide");
          });
    </script>
</body>
</html>
