<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta property="og:url" content="https://ncodi.heroku.app/">*@
    <meta property="og:title" content="Ncodi | Code in your own dialect">
    <meta property="og:description" content="Ncodi is a Ncodi is a programming language that uses the Tunisian Dialect.">
    @*<meta property="og:image" content="img/page1.png">*@
    <meta name="twitter:card" content="summary_large_image">
    <title>Ncodi | Code in your own dialect</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
